.formulir-kontak {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.formulir-kontak input, .formulir-kontak textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: manrope;
  font-size: 1rem;
  resize: none;
}

.kirim {
  background: var(--warna-utama);
  color: var(--warna-teks-balik);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-family: manrope;
  transition: 0.3s ease;
}
.king {
  width: 500%;
  border-radius: 15px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
}
.kirim:hover {
  background: #0b3ca8;
}
